#p {
    font-family: "Times New Roman", SansSerif, Serif;
    color: white;
    margin-bottom: 0;
}

h1 {
    color: white;
    font-size: 1.5em;
    margin-top: 0
}

h3 {
    color: white;
    background-color: #7986CB;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    background-color: #1A237E;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em
}

nav {
    background-color: #3F51B5;
    color: #00B0FF;
    margin-bottom: 0.5em;
    margin-top: -16px
}

.head {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em
}

footer {
    background-color: #1A237E;
    color: #00B0FF;
    padding-top: 1.3em;
    padding-left: 1em;
    padding-bottom: 1.3em;
}

body {
    background-color: #E8EAF6;
    position: absolute;
    left: 5%;
    right: 5%;
    min-width: 600px;
}

article {
    background-color: white;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

}

.img {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    color: #C5CAE9;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-family: "Times New Roman", SansSerif, Serif;
}

.date {
    color: #F5A2C1;
}

.imgfoot {
    color: #7990A3;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #C5CAE9;
    margin-top: -4px;
    font-family: "Times New Roman", SansSerif, Serif;
}

.p1 {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

a:link {
    color: #00B0FF
}

section {
    border-style: solid;
    border-width: 1px;
    border-color: #C5CAE9;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.a1 {
    padding-left: 0.6em
}

.sec3 {
    padding-left: 1em;
    margin-bottom:1em;
}

.foot {
    padding-top: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.bom {
    margin-bottom: -1px
}

.h3 {
    margin-bottom: -0.01em;
}

.p2 {
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.border {
    line-height: 0px;
}

hr{
    margin-top: 0;
    margin-bottom: 0;
}

.sec1{
    margin-bottom: 0
}

.xian{
    color: white
}

a.lian:hover{
    color: white;
    background-color: #F50057;
    padding: 0.3em;
}

a.a1:hover{
    color: white;
    background-color: #F50057;
    padding: 0.3em;
}

a.border:link{
    text-decoration: none
}
